# -*- ruby -*-

# This is the sample/reference Jobfile

# Use job_load_path to tell jobco where you job code is located.
# JobCo tries to be clever about loading your job code, so that you don't have to.
JobCo::Config.job_load_path = File::expand_path("../samples", __FILE__)

# TTL for status keys
JobCo::Plugins::Status.expire_after = 3600 # 1 hour

# You might want to set things differently depending on the environment
case JobCo::env
  when "development" then
    JobCo::Config.job_load_mode = :each_time
    # JobCo::Plugins::RailsLoader.mode = :each_time

  when "production"
    JobCo::Plugins::Status.expire_after = 86400 * 14 # 2 weeks
    JobCo::Config.job_load_mode = :once

    # JobCo::Plugins::RailsLoader.mode = :each_time
end

# Strongly advised: use a separate redis connection for your
# perform code, so that you can separately FLUSHDB resque/jobco
# without impacting any valuable data you might store in redis.
#
# JobCo will use the Resque.redis connection when needed
Resque.redis = Redis.new